export PROJECT_ROOT=$(pwd)
export APISERVER_PORT=5015
export APISERVER_HOST=localhost
export DB_NAME=bazaar
export DB_HOST=127.0.0.1
export DB_USER=postgres
export DB_PASSWORD=1234
export DB_PORT=5434
export DB_PORT_TEST=5435

DATABASE_URL=postgres://user:pass@localhost:5432/dbname?sslmode=disable
